{{ define "main" -}}
<style>
	html, body, main, .post {
		width: 100%;
		margin: 0;
		max-width:100%;
	}
	.embed {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
<div class="post">
	<div class="markdown">
        {{ if .Param "project" }}
            {{ if .Param "project.page" }}
            <div class="embed">
				<iframe src='{{ .Param "project.page" }}'
				frameborder="0" scrolling="no"
				width="800" height="600"
				onload="resizeIframe(this)"></iframe>
			</div>
			<script>
				function resizeIframe(obj) {
				  obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
				  document.getElementById('body').focus();
				}
			</script>
            {{ end }}
        {{ end }}
	</div>
	{{ if ne (in .Site.Params.disableTaxoTypes .Type) true }}
	{{ $pagename := .Page.Title }}
	{{ $notaxo := .Params.notaxonomy }}
	{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
	{{ with index $.Params $taxonomyname }}
	{{ with ($.Site.GetPage (printf "/%s" $taxonomyname)) }}
	{{ if in $notaxo $taxonomyname }}
	{{ else }}
	<div class="tags">
		<div class="taxosfloating_left">
			<p>{{ $taxonomyname | humanize }}</p>
		</div>
		<div class="termsfloating_right">
			<p>
			{{ range $key, $value := $taxonomy }}
			{{ range $value.Pages }}
			{{ if eq .LinkTitle $pagename }}
			<a href="{{ relURL $taxonomyname }}/{{ $key }}/"> {{ $key }} </a>
			{{ end }}
			{{ end }}
			{{ end }}
			</p>
		</div>
		<div class="clearit"></div>
		{{ end }}
		{{ end }}
		{{ end }}
		{{ end }}
		{{ end }}
	</div>
	{{- if eq .Site.Params.comments.enabled true -}}
	{{- $.Scratch.Set "comments" true -}}
	{{- if and (isset .Params "type") (in .Site.Params.comments.disableOnTypes .Params.type) -}}
	{{- $.Scratch.Set "comments" false -}}
	{{- end -}}
	{{- if and (isset .Params "commentable") (eq .Params.commentable false) -}}
	{{- $.Scratch.Set "comments" false -}}
	{{- else if and (isset .Params "commentable") (eq .Params.commentable true) -}}
	{{- $.Scratch.Set "comments" true -}}
	{{- end -}}
	{{- if eq ($.Scratch.Get "comments") true -}}
	{{- partial "comments.html" . -}}
	{{- end -}}
	{{- end -}}
</div>
{{ end }}
