<div>
    {% assign all_service = site.data.service | sort: "date" | reverse %}
    <div class="recentposts-container">
    {% for post in all_service %}
    <div class="recentposts-item">
        <div>
            <div>
              {{ post.title }}
            </div>
            <div>
              {% include venue_type.html %}
              <span class="recentposts-date">{{ post.date | date: "%a, %b %d, %Y" }}</span>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>