<div>
    {% assign all_service = site.data.service | sort: "date" | reverse %}
    <div class="recentposts-container">
    {% for post in all_service %}
    <div class="recentposts-item">
        <div style="display: flex; flex-direction: column; justify-content: space-between;">
            <div>
              {% if post.url %}
                <a href="{{ post.url }}">{{ post.title }}</a>
              {% else %}
                <span>{{ post.title }}</span>
              {% endif %}
            </div>
            <div>
              <div>
                {% if post.url %}<a href="{{ post.url }}">{% endif %}
                <span class="venue-type"><span style="background-color: #52adc8; color: #fff;">{{ post.shortname }}</span></span>
                {% if post.url %}</a>{% endif %}
                {% include venue_type.html %}
              </div>
              <div>
                <span class="recentposts-date">{{ post.date | date: "%a, %b %d, %Y" }}</span>
              </div>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>