.recentposts-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
  
.recentposts-item {
    margin: 20px;
    margin-right: 0;
    padding-right: 20px;
    min-width: 300px;
    display: flex;

    &:not(:last-child) {
        border-right: 1px solid $text-color;
    }
}

.recentposts-shortname {
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  span {
    padding: 4px 6px;
    text-align: center;
    background-color: $info-color;
    font-weight: normal;
    border-radius: 8px;
    color: $text-color;
    font-size: $type-size-6;
  }
}
  
.recentposts-index {
    margin-right: 12px;
    // border: 1px solid $text-color;
    // border-radius: 50%;
}
  
/* https://stackoverflow.com/a/56523044/8999671 */
.recentposts-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.recentposts-date {
    font-size: $type-size-6;
}