.recentservice-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
  
.recentservice-item {
    margin: 20px;
    margin-right: 0;
    padding-right: 20px;
    min-width: 300px;
    display: flex;

    &:not(:last-child) {
        border-right: 1px solid $text-color;
    }
}
  
/* https://stackoverflow.com/a/56523044/8999671 */
.recentservice-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.recentservice-date {
    font-size: $type-size-6;
}